{% extends 'videos/base.html' %}

{% block content %}

    <h1>Video Detail View</h1>
    {% if object is not None %}
        {{ object.title }}
        <!-- Just a test here for now  -->
        <iframe src="https://player.vimeo.com/video/439082492" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <br>
        {{ object.description }}
        <!-- Emplement video here later  -->
    {% else %}
        <h3>Please upgrade your membership to view this video</h3>

    {% endif %}

{% endblock content %}