<!DOCTYPE HTML>
<html lang = "en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="stylesheet.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

    {% load static %}
    <link rel="stylesheet" href="{% static 'sendemail/style/stylesheet.css' %}" type="text/css">

    <title>Mrs K's Math Cram</title>
    
</head >
<body style="font-family: 'Open Sans', sans-serif;">  
    <div class="jumbotron jumbotron-fluid "  style="background-color: #3B5998;">
        <div class="container">
        <div class="text-center">
             <!-- <style>img {filter: invert(100%);}</style> -->
            <img src="{% static 'sendemail/images/mathcramtitlewhite.png' %}" class="img-fluid" alt="mrsksmathcram">
          <p class="lead" style="color: #ffffff">Your go-to resource for increasing math scores</p>
          <br>
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if messages.tags %} class="{{ messages.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      <form action="{% url 'subscribe' %}" method="POST">
          {% csrf_token %}
          {{ form }}
          <div class="form-group">
            <!-- <label for="exampleInputEmail1">Email address</label> -->
            <input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter your email address">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <button type="submit" class="btn btn-primary" style="background-color: #334D84">Sign Up!</button>
      </form>
          <br>
          <p style="color: #ffffff"><small>Enter your email to be notified about when the website will be launching.</small></p>
          <p style="color: #ffffff"><small>We'll keep you up to date on our progress and send a coupon code curated especially for you to use when signing up.</small></p>
        </div>
        </div>
    </div>
    
    <!-- <div class="col-xl-8 mx-auto">
      <div class="m-3 card">
        <div class="card-header text-center" style="background-color: #3B5998;">
          <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;">What is Mrs. K's Math Cram?</h1>
        </div>
        <div class="px-4 bg-light card-block">
          <br>
          <p class="card-text">We provide an ever-growing collection of Cram videos and worksheets to help you excel on your upcoming ACT or SAT.</p>
          <p class="card-text">We are dedicated to providing you with a full understanding of the world of math from junior high through early college.</p>
          <p class="card-text">Our videos encompass every math topic you may encounter during your journey through school.</p>
          <p class="card-text">Using methods she has spent decades refining, Mrs. K provides you with the ability to recognize and provide direct solutions to those tricky math problems.</p>
          <br>
        </div>
        <ul class="px-4 list-group list-group-flush border-0 bg-light">
          <h2 class="list-group-item border-0 bg-light" style="font-family: 'Roboto', sans-serif;">Our MathCram Videos:</h2>
          <li class="list-group-item border-0 bg-light"><i class="fas fa-check" style="color: #3B5998;"></i> Average 15 minutes long</li>
          <li class="list-group-item border-0 bg-light"><i class="fas fa-check" style="color: #3B5998;"></i> Each provide 8 hand-crafted problems and direct solutions</li>
          <li class="list-group-item border-0 bg-light"><i class="fas fa-check" style="color: #3B5998;"></i> Give helpful tips and tricks to make the problems easier</li>
          <li class="list-group-item border-0 bg-light"><i class="fas fa-check" style="color: #3B5998;"></i> Reveal secrets to solving these problems quickly, correctly, and with ease</li>
          <li class="list-group-item border-0 bg-light"><i></i> With these easy to remember tips, mnemonic devices, and shortcuts, you are sure to have the advantage going into these tests.</li>
        </ul>
      </div>
    </div> -->

    <div class="col-xl-8 mx-auto">
      <div class="row no-gutters">

        <div class="col-md-8">
          <div class="card-body">
            <div class="card-header text-center" style="background-color: #3B5998; transform: skew(20deg);">
              <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif; transform: skew(-20deg);">What is Mrs. K's Math Cram?</h1>
            </div>
            <!-- <h1 class="card-title">What is Mrs. K's Math Cram?</h1> -->
            <div class="px-4 card-block">
              <br>
              <p class="card-text">We provide an ever-growing collection of Cram videos and worksheets to help you excel on your upcoming ACT or SAT.</p>
              <p class="card-text">We are dedicated to providing you with a full understanding of the world of math from junior high through early college.</p>
              <p class="card-text">Our videos encompass every math topic you may encounter during your journey through school.</p>
              <p class="card-text">Using methods she has spent decades refining, Mrs. K provides you with the ability to recognize and provide direct solutions to those tricky math problems.</p>
              <br>
            </div>
            <ul class="px-4 list-group list-group-flush border-0">
              <h2 class="list-group-item border-0" style="font-family: 'Roboto', sans-serif;"><i class="fas fa-angle-down" style="color: #3B5998;"></i> <u>Our MathCram Videos</u>:</h2>
              
              <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Average 15 minutes long</li>
              <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Each provide 8 hand-crafted problems and direct solutions</li>
              <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Give helpful tips and tricks to make the problems easier</li>
              <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Reveal secrets to solving these problems quickly, correctly, and with ease</li>
              <li class="list-group-item border-0">With these easy to remember tips, mnemonic devices, and shortcuts, you are sure to have the advantage going into these tests.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 p-5">
          <img src="{% static 'sendemail/images/024.png' %}" class="card-img" alt="What is Mrs. K's Math Cram?">
        </div>
      </div>
    </div>

    <!-- <div class="col-xl-8 mx-auto">
      <div class="m-3 card">
        <div class="card-header text-center" style="background-color: #3B5998;">
          <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;">But that's not all!</h1>
        </div>
        <div class="px-4 bg-light card-block">
          <br>
          <p class="card-text">Alongside the MathCram videos, we have a growing collection of condensed videos giving you a streamlined look into solving specific problems that are sure to come up.</p>
          <p class="card-text">These 3 to 5 minute videos are specific to one topic and serve as a quick reference when trying to hone your skills for particular weak spots.</p>
          <p class="card-text">They give you straightforward advice in a quick, concise manner, providing you the knowledge you need, when you need it.</p>
          <br>
        </div>
      </div>
    </div> -->

    <div class="col-xl-8 mx-auto">
      <div class="card-body">
        <div class="row justify-content-end">
          <div class="col-md-8 card-header text-center" style="background-color: #3B5998;  transform: skew(160deg);">
            <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;  transform: skew(-160deg);">But that's not all!</h1>
          </div>
        </div>
      <div class="row no-gutters">
        <div class="col-md-4 p-5">
          <div class="col-md-11">
            <img src="{% static 'sendemail/images/034.png' %}" class="card-img" alt="But that's not all!">
          </div>
        </div>
        <div class="col-md-8">
          

            <div class="px-4 card-block">
              <br>
              <p class="card-text">Alongside the MathCram videos, we have a growing collection of condensed videos giving you a streamlined look into solving specific problems that are sure to come up.</p>
              <p class="card-text">These 3 to 5 minute videos are specific to one topic and serve as a quick reference when trying to hone your skills for particular weak spots.</p>
              <p class="card-text">They give you straightforward advice in a quick, concise manner, providing you the knowledge you need, when you need it.</p>
              <br>
            </div>
        </div>
      </div>
    </div>
    </div>

    <!-- <div class="col-xl-8 mx-auto">
      <div class="m-3 card">
        <div class="card-header text-center" style="background-color: #3B5998;">
          <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;">And there's even more!</h1>
        </div>
        <div class="px-4 bg-light card-block">
          <br>
          <p class="card-text">Mrs K. also provides printable handouts that you can use to reference specific principles and formulas.</p>
          <p class="card-text">These are handouts she has made and used with her students over decades of teaching.</p>
          <p class="card-text">They include need-to-know formulas, how to remember them, and how to apply them.</p>
          <p class="card-text">From pre-algebra through pre-calclulus, these handouts have all the tips, tricks, and techniques you need for your mathematical journey.</p>
          <br>
        </div>
      </div>
    </div> -->

    <div class="col-xl-8 mx-auto">
      <div class="row no-gutters">

        <div class="col-md-8">
          <div class="card-body">
            <div class="card-header text-center" style="background-color: #3B5998; transform: skew(20deg);">
              <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif; transform: skew(-20deg);">And there's even more!</h1>
            </div>
            <div class="px-4 card-block">
              <br>
              <p class="card-text">Mrs K. also provides printable handouts that you can use to reference specific principles and formulas.</p>
              <p class="card-text">These are handouts she has made and used with her students over decades of teaching.</p>
              <p class="card-text">They include need-to-know formulas, how to remember them, and how to apply them.</p>
              <p class="card-text">From pre-algebra through pre-calclulus, these handouts have all the tips, tricks, and techniques you need for your mathematical journey.</p>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-3 p-5">
          <img src="{% static 'sendemail/images/146.png' %}" class="card-img" alt="And there's even more!">
        </div>
      </div>
    </div>

    <!-- <div class="col-xl-8 mx-auto">
      <div class="m-3 card">
        <div class="card-header text-center" style="background-color: #3B5998;">
          <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;">Who is this website for?</h1>
        </div>
        <div class="px-4 bg-light card-block">
          <br>
          <p class="card-text">Everyone!</p>
          <p class="card-text">This site is designed to give you the upper hand when it comes to math, from just entering highschool, to going off to college.</p>
          <p class="card-text">Not only is this your one-stop-shop for increasing your ACT scores, it is also your personal tutor for making sure you get the help you need to succeed in your studies.</p>
          <p class="card-text">Mrs. K will be updating this site regularly to provide you with all the tools you could ever need to overcome your struggles in math.</p>
          <p class="card-text">We will continue to grow our collection of math resources to keep up with the needs of the students using this resource.</p>
          <p class="card-text">Mrs. K's Math Cram will encompass every math topic of every math subject through your highschool career.</p>
          <p class="card-text">Mrs. K will be like your personal, on demand, tutor for all your math questions.</p>
          <br>
        </div>
      </div>
    </div> -->

    <div class="col-xl-8 mx-auto">
      <div class="card-body">
        <div class="row justify-content-end">
          <div class="col-md-8 card-header text-center" style="background-color: #3B5998; transform: skew(160deg);">
            <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif; transform: skew(-160deg);">Who is this website for?</h1>
          </div>
      </div>
      <div class="row no-gutters">
        <div class="col-md-4 p-5">
          <img src="{% static 'sendemail/images/125.png' %}" class="card-img" alt="Who is this website for?">
        </div>
        <div class="col-md-8">

            <div class="px-4 card-block">
              <br>
              <p class="card-text">Everyone!</p>
              <p class="card-text">This site is designed to give you the upper hand when it comes to math, from just entering highschool, to going off to college.</p>
              <p class="card-text">Not only is this your one-stop-shop for increasing your ACT scores, it is also your personal tutor for making sure you get the help you need to succeed in your studies.</p>
              <p class="card-text">Mrs. K will be updating this site regularly to provide you with all the tools you could ever need to overcome your struggles in math.</p>
              <p class="card-text">We will continue to grow our collection of math resources to keep up with the needs of the students using this resource.</p>
              <p class="card-text">Mrs. K's Math Cram will encompass every math topic of every math subject through your highschool career.</p>
              <p class="card-text">Mrs. K will be like your personal, on demand, tutor for all your math questions.</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-xl-8 mx-auto">
      <div class="m-3 card">
        <div class="card-header text-center" style="background-color: #3B5998;">
          <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;">Tutors can cost upwards of a hundred dollars per hour, how much will this be?</h1>
        </div>
        <div class="px-4 bg-light card-block">
          <br>
          <p class="card-text">Mrs. K's Math Cram will be about the same price as your favorite streaming service: $12.99 / month.</p>
          <p class="card-text">Like your favorite streaming service, Mrs. K's Math Cram is both accessible AND affordable.</p>
          <p class="card-text">But, just by entering your email, you will recieve a coupon when we go to launch this site.</p>
          <p class="card-text">Mrs. K's Math Cram will be available for use in early 2021.</p>
          <p class="card-text">We'll give you all the updates and details you need through your email.</p>
          <br>
        </div>
      </div>
    </div> -->

    <div class="col-xl-8 mx-auto">
      <div class="row no-gutters">

        <div class="col-md-8">
          <div class="card-body">
            <div class="card-header text-center" style="background-color: #3B5998; transform: skew(20deg);">
              <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif; transform: skew(-20deg);">How much will this cost?</h1>
            </div>
            <div class="px-4 card-block">
              <br>
              <p class="card-text">Some tutors can cost upwards of $100 per hour!</p>
              <p class="card-text">Mrs. K's Math Cram will be about the same price as your favorite streaming service: $12.99 / month.</p>
              <p class="card-text">Like your favorite streaming service, Mrs. K's Math Cram is both accessible AND affordable.</p>
              <p class="card-text">But, just by entering your email, you will recieve a coupon when we go to launch this site.</p>
              <p class="card-text">Mrs. K's Math Cram will be available for use in early 2021.</p>
              <p class="card-text">We'll give you all the updates and details you need through your email.</p>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-5">
          <img src="{% static 'sendemail/images/186.png' %}" class="card-img" alt="Tutors can cost upwards of a hundred dollars per hour, how much will this be?">
        </div>
      </div>
    </div>

    <div class="col-xl-8 mx-auto">
      <div class="m-3 card">
        <div class="card-header text-center" style="background-color: #3B5998;">
          <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;">Meet Mrs. K</h1>
        </div>
        <div class="card-block bg-light">
          <div class="row">
            <!-- <div class="col-md-5 text-center align-self-center">
              <i class="fas fa-chalkboard-teacher fa-10x" style="font-size:350px"></i>
            </div> -->
            <div class="col-md-3 p-5 text-center align-self-center">
              <img src="{% static 'sendemail/images/124.png' %}" class="card-img" alt="Mrs. K">
            </div>
            <div class="px-4 pr-4 col-md-7">
              <br>
              <p>My name is Suzy Kruckenberg, commonly known as Mrs. K.  This year marks my 32nd year as a high school math teacher.  During my career, I have taught 7th-grade math through pre-calculus. In addition to teaching high school, I also have ten years’ experience as an instructor of the 00 level and 0 level college math classes, as well as college algebra.  I was fortunate to be a part of a team that led professional development math workshops for middle school math teachers across the state.  Our focus was to prepare these teachers to take the Middle School Math certification test.  I have been a member of several State Department of Education committees where we determined the four levels of achievement for the state assessments and also reviewed the questions for the geometry and algebra state assessments.</p>
              <p>Working as a personal tutor has been one of my most rewarding experiences. Conversing one-on-one with a student has helped me understand how teenagers think about problems.  Because of these conversations, I have learned how to explain math at their level. Many times, I can predict an error a student might make before they get very far in a problem.  My lessons incorporate this knowledge, warning students of possible mistakes before they even have a chance to make them.</p>
              <p> In previous years, I conducted in-person ACT Math Crams where I explained 30 to 35 problems during an evening session.  Many students who attended these classes reported an increase in their ACT math score of four points or more.  Mrs. K’s Math Cram would like to bring these sessions right to your household, accessible at any time. </p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container-fluid padding" style="background-color: #f7f7f7;">
      <div class="profile-body">
          <div class="profile-bio">
              <div class="row"></div>
                  <div class="col-md-5 text-center align-self-center">
                    <i class="fas fa-chalkboard-teacher fa-10x"></i>
                  </div>
                  
                  </div>
              </div>    
          </div> -->
    	<!-- </div>
    </div>  -->

    <!-- <div class="m-3 card">
      <div class="card-header" style="background-color: #3B5998;">
        <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;">Meet Mrs. K</h1>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-5 text-center align-self-center">
            <i class="fas fa-chalkboard-teacher fa-10x"></i>
          </div>
          <div class="px-4 pr-4 col-md-7">
            <br>
            <p>My name is Suzy Kruckenberg, commonly known as Mrs. K.  This year marks my 32nd year as a high school math teacher.  During my career, I have taught 7th-grade math through pre-calculus. In addition to teaching high school, I also have ten years’ experience as an instructor of the 00 level and 0 level college math classes, as well as college algebra.  I was fortunate to be a part of a team that led professional development math workshops for middle school math teachers across the state.  Our focus was to prepare these teachers to take the Middle School Math certification test.  I have been a member of several State Department of Education committees where we determined the four levels of achievement for the state assessments and also reviewed the questions for the geometry and algebra state assessments.</p>
            <p>Working as a personal tutor has been one of my most rewarding experiences. Conversing one on one with a student has helped me understand how teenagers think about problems.  Because of these conversations, I have learned how to explain math at their level. Many times, I can predict an error a student might make before they get very far in a problem.  My lessons incorporate this knowledge, warning students of possible mistakes before they even have a chance to make them.</p>
            <p> In previous years, I conducted in-person ACT Math Crams where I explained 30 to 35 problems during an evening session.  Many students who attended these classes reported an increase in their ACT math score of four points or more.  Mrs. K’s Math Cram would like to bring these sessions right to your household, accessible at any time. </p>
            <br>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-xl-8 mx-auto">
        <div class="m-3 card" >
          <div class="card-header text-center" style="background-color: #3B5998;">
            <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;">To sum it all up</h1>
          </div>
            <div class="col-xl-8 mx-auto">
              <div class="row">
                <div class="col-xl-6 text-center my-4">
                  <div class="w-50 h-50p-5">
                    <img src="{% static 'sendemail/images/104.png' %}" class="card-img" alt="Educational Videos">
                  </div>
                  <br>
                  <h2 style="font-family: 'Roboto', sans-serif;">Educational Videos</h2>
                  <div class="row text-left">
                    <ul class="fa-ul">
                      <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Algebra</li>
                      <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Geometry</li>
                      <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Trigonometry</li>
                      <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> and more!</li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-6 text-center my-4">
                  <div class="w-50 h-50p-5">
                    <img src="{% static 'sendemail/images/135.png' %}" class="card-img" alt="Printable Worksheets">
                  </div>
                  <br>
                  <h2 style="font-family: 'Roboto', sans-serif;">Printable Worksheets</h2>
                  <div class="row text-left">
                    <ul class="fa-ul">
                      <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Fraction rules</li>
                      <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Systems of equations</li>
                      <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Formulas for all subjects</li>
                      <li class="list-group-item border-0"><i class="fas fa-check-double" style="color: #3B5998;"></i> and much much more</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div> -->
    
    <!-- <div class="col-xl-8 card-header text-center" style="background-color: #3B5998;">
      <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;">To sum it all up</h1>
    </div>
    <div class="card-group col-xl-8 mx-auto">
      <div class="m-3 card border-0">
        <div class="w-50 h-50p-5">
          <img src="{% static 'sendemail/images/104.png' %}" class="card-img" alt="Educational Videos">
        </div>
        <div class="card-body">
          <h2 class="card-title" style="font-family: 'Roboto', sans-serif;">Educational Videos</h2>
          <ul class="fa-ul">
            <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Algebra</li>
            <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Geometry</li>
            <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Trigonometry</li>
            <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> and more!</li>
          </ul>
        </div>
      </div>
      <div class="m-3 card border-0">
        <div class="w-50 h-50p-5">
          <img src="{% static 'sendemail/images/104.png' %}" class="card-img" alt="Printable Worksheets">
        </div>
        <div class="card-body">
          <h2 class="card-title" style="font-family: 'Roboto', sans-serif;">Printable Worksheets</h2>
          <ul class="fa-ul">
            <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Fraction rules</li>
            <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Systems of equations</li>
            <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Formulas for all subjects</li>
            <li class="list-group-item border-0"><i class="fas fa-check-double" style="color: #3B5998;"></i> and much much more</li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="col-xl-6 mx-auto card-header text-center" style="background-color: #3B5998;">
        <h1 style="color: #ffffff;font-family: 'Roboto', sans-serif;">To sum it all up</h1>
    </div>
    <br>

    <div class="row col-xl-8 mx-auto text-center">
      <div class="col-xl-6">
        <div class="card border-0">
          <div class="card-body">
            <div class="w-50 h-50 mb-5 mx-auto">
              <img src="{% static 'sendemail/images/104.png' %}" class="card-img" alt="Educational Videos">
            </div>
              <h2 class="card-title" style="font-family: 'Roboto', sans-serif;">Educational Videos</h2>
              <ul class="list-group list-group-flush" style="display: inline-block; text-align: left;">
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Algebra</li>
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Geometry</li>
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Trigonometry</li>
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> and more!</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card border-0">
          <div class="card-body">
            <div class="w-50 h-50 mb-5 mx-auto">
              <img src="{% static 'sendemail/images/135.png' %}" class="card-img" alt="Printable Worksheets">
            </div>
              <h2 class="card-title" style="font-family: 'Roboto', sans-serif;">Printable Worksheets</h2>
              <ul class="list-group list-group-flush" style="display: inline-block; text-align: left;">
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Fraction rules</li>
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Systems of equations</li>
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Formulas for all subjects</li>
                <li class="list-group-item border-0"><i class="fas fa-check-double" style="color: #3B5998;"></i> and much much more</li>
              </ul>
          </div>
        </div>
      </div>
    </div>



    <!-- <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-6 p-4">
            <i class="fas fa-video fa-5x"></i>
            <br>
            <br>
            <h2 style="font-family: 'Roboto', sans-serif;">Educational Videos</h2>
              <ul class="fa-ul">
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Algebra</li>
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Geometry</li>
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Trigonometry</li>
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> and more!</li>
              </ul>
        </div>
        <div class="col-xs-12 col-sm-6 p-4">
            <i class="fas fa-copy fa-5x"></i>
            <br>
            <br>
            <h3 style="font-family: 'Roboto', sans-serif;">Printable Worksheets</h3>
              <ul class="fa-ul">
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Fraction rules</li>
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Systems of equations</li>
                <li class="list-group-item border-0"><i class="fas fa-check" style="color: #3B5998;"></i> Formulas for all subjects</li>
                <li class="list-group-item border-0"><i class="fas fa-check-double" style="color: #3B5998;"></i> and much much more</li>
              </ul>
        </div>
      </div>
    </div> -->


    <div class="container-fluid">
      <div class="row col-xl-8 mx-auto text-center">
        <div class="col-xl-6">
          <div class="card-border-0">
            <div class="card-body">
              <div class="w-50 h-50 mb-5 mx-auto">
                <i class="card-img fas fa-play fa-5x" style="color: #3B5998;"></i>
              </div>
                  <h3 class="card-title" style="font-family: 'Roboto', sans-serif;">New Videos Every Week</h3>
                  <p>Hours of educational content with more uploaded every week</p>
                  <p>Covering every area of math you need to know for the ACT / SAT</p>
                  <p>Tried and true methods with decades of refining to help you score the best that you can</p>
                  <p>Multiple problem videos as well as bite size focused content</p>
              </div>
            </div>
          </div>
        <div class="col-xl-6">
          <div class="card border-0">
            <div class="card-body">
              <div class="w-50 h-50 mb-5 mx-auto">
                <i class="fas fa-copy fa-5x" style="color: #3B5998;"></i>
              </div>
              <h3 class="card-title" style="font-family: 'Roboto', sans-serif;">Downloadable worksheets</h3>
              <p>Supplemental worksheets to help exactly with an area of weakness</p>
              <p>Formula sheets for quick reminders and cram sessions</p>
              <p>Memorization techniques for formulas and how to apply them</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row col-xl-6 mx-auto text-center">
        <div class="col-xl-12">
          <div class="card-border-0">
            <div class="card-body">
              <div class="w-50 h-50 mb-5 mx-auto">
                <i class="fas fa-brain fa-5x" style="color: #3B5998;"></i>
              </div>
                  <h3 class="card-title" style="font-family: 'Roboto', sans-serif;">Whether cramming for the ACT or needing supplemental help we've got you covered</h3>
                  <p>Tips and tricks for every level of highschool math</p>
                  <p>New ways to memorize formulas and how to apply them</p>
                  <p>Increasing your longterm understanding of math as well as getting you caught up to speed quickly</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- <div class="col-xl-6">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="col"></th>
            <td class="align-middle">
              <i class="fas fa-play fa-5x" style="color: #3B5998;"></i>
            </td>
            <td class="col-xl-6">
              <h3 style="font-family: 'Roboto', sans-serif;">New Videos Every Week</h3>
              <p>Hours of educational content with more uploaded every week</p>
              <p>Covering every area of math you need to know for the ACT / SAT</p>
              <p>Tried and true methods with decades of refining to help you score the best that you can</p>
              <p>Multiple problem videos as well as bite size focused content</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="col"></th>
            <td class="align-middle">
              <i class="fas fa-book fa-5x" style="color: #3B5998;"></i>
            </td>
            <td class="col-xl-6">
              <h3 style="font-family: 'Roboto', sans-serif;">Downloadable worksheets</h3>
                <p>Supplemental worksheets to help exactly with an area of weakness</p>
                <p>Formula sheets for quick reminders and cram sessions</p>
                <p>Memorization techniques for formulas and how to apply them</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-6">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row"></th>
            <td class="align-middle">
              <i class="fas fa-brain fa-5x" style="color: #3B5998;"></i>
            </td>
            <td>
              <h3 style="font-family: 'Roboto', sans-serif;">Whether cramming for the ACT or needing supplemental help we've got you covered</h3>
                <p>Tips and tricks for every level of highschool math</p>
                <p>New ways to memorize formulas and how to apply them</p>
                <p>Increasing your longterm understanding of math as well as getting you caught up to speed quickly</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
    
    <!-- <div class="col-xl-8 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row"></th>
            <td class="align-middle">
              <i class="fas fa-play fa-5x" style="color: #3B5998;"></i>
            </td>
            <td>
              <h3 style="font-family: 'Roboto', sans-serif;">New Videos Every Week</h3>
              <p>Hours of educational content with more uploaded every week</p>
              <p>Covering every area of math you need to know for the ACT / SAT</p>
              <p>Tried and true methods with decades of refining to help you score the best that you can</p>
              <p>Multiple problem videos as well as bite size focused content</p>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td class="align-middle">
              <i class="fas fa-book fa-5x" style="color: #3B5998;"></i>
            </td>
            <td>
              <h3 style="font-family: 'Roboto', sans-serif;">Downloadable worksheets</h3>
                <p>Supplemental worksheets to help exactly with an area of weakness</p>
                <p>Formula sheets for quick reminders and cram sessions</p>
                <p>Memorization techniques for formulas and how to apply them</p>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td class="align-middle">
              <i class="fas fa-brain fa-5x" style="color: #3B5998;"></i>
            </td>
            <td>
              <h3 style="font-family: 'Roboto', sans-serif;">Whether cramming for the ACT or needing supplemental help we've got you covered</h3>
                <p>Tips and tricks for every level of highschool math</p>
                <p>New ways to memorize formulas and how to apply them</p>
                <p>Increasing your longterm understanding of math as well as getting you caught up to speed quickly</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->

    
    <!-- Footer -->
    <footer class="page-footer">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="background-color: #3B5998;">
        <p style="color:white">© 2020 Copyright: Mrs. K's Math Cram</p>
        <p style="color:white">If you are having trouble subscribing, or have any questions, please email us at <a href="mailto:support@mrsksmathcram.com">support@mrsksmathcram.com</a></p>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS .. also fontawesome -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
</body>
</html>